pre {
  color: #f8f8f2;
  font-size: 1.125rem;
  background: #282a36;
}
pre .token.operator,
pre .token.keyword {
  color: #ff79c6;
}
pre .token.string {
  color: #f1fa8c;
}
pre .token.comment {
  color: #6272a4;
}
pre .token.global {
  color: #bd93f9;
}
pre .token.function {
  color: #50fa7b;
}
pre .token.class-name,
pre .token.function.method {
  color: #8be9fd;
}
